<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>product List</title>
</head>

<body>
    <h3>product List</h3>
    {% for product in results %}
    <p>{{ forloop.counter }}. {{ product.name }} - {{ product.thumnail }} (
        <a href="{% url 'catalog:product_detail' product.id %}">View</a> |
        <a href="{% url 'catalog:product_update' product.id %}">Update</a> |
        <a href="{% url 'catalog:product_delete' product.id %}">Delete</a>)
    </p>
    {% endfor %}

    <p> <a href="{% url 'catalog:product_create' %}"> + Add A New product</a></p>

    <div class="pagination">
        <span class="step-links">
            {% if previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page |add:-1 }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page }} of {{ total }}.
            </span>
                {% if next %}
                <a href="?page={{ page |add:1 }}">next</a>
                <a href="?page={{ total }}">last &raquo;</a>
                {% endif %}
        </span>
    </div>
</body>

</html>