<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% if object %}Edit product {% else %} Create New product {% endif %}</title>
    <style id="compiled-css" type="text/css">
        div {
            display: inline-block;
            width: 10%;  
            margin:5px;
            text-align: left;
        }
    </style>
</head>

<body>
    <h3>{% if object %}Edit product {% else %} Create New product {% endif %}</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        {% comment %} {{ form.as_p }} {% endcomment %}
        <p>
            <label for="id_name">Name:</label>
            <input type="text" name="name" require="" maxlength="80" id="id_name">            
        </p>
        
        
        <p>
            <label for="id_thumnail">Thumnail:</label>
            <input type="file" name="thumnail" accept="image/*" id="id_thumnail">            
        </p>
        
        
        <p>
            <label for="id_category">Category:</label>
            {% for category in categories %}
                <div>
                    <input type="checkbox" id={{category.id}} value={{category.id}} name="category">
                    {{ category.name }} </label>
                </div>
            {% endfor %}
        </p>

        <p><input type="submit" class="btn btn-success" value="Submit"></p>
    </form>
</body>

</html>

