{% extends 'base.html' %} {% block content %}<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>category List</title>
    <style>
        
    </style>
</head>

<body>
    <h3>category List</h3>
    {% for category in page_obj %}
    <p>{{ forloop.counter }}. {{ category.name }} (
        <a href="{% url 'catalog:category_update' category.id %}">Update</a> |
        <a href="{% url 'catalog:category_delete' category.id %}">Delete</a>)
    </p>
    {% endfor %}

    <p> <a href="{% url 'catalog:category_create' %}"> + Add A New category</a></p>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span> {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> {% endif %}
        </span>
    </div>

</body>

</html>{% endblock %}