<html>
<h1> This is list of Category </h1>
    <h2><a href="{% url 'Catalog:upload_category' %}">Upload Category</a></h2>
        {% if list_category %}
        <p>
            <ul>
                {%for category in list_category %}
                    <li>
                        <p>Name of category: <a href ="{% url 'Catalog:book_page' category.id %}"> {{category.name}} </a> </p>
                        <img src="{{category.image_url }}"  width="400" height="500">
                        <p>
                            <a href="{% url 'Catalog:update_category' category.id %}">edit</a>
                            <a href="{% url 'Catalog:delete_category' category.id %}">delete</a>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </p>
        {% else %}
        <p> No type of category are available </p>
        {% endif %}
    <p><a href="{% url 'logout' %}">Logout</a></p>
    <p><a href="{% url 'Catalog:homepage' %}">Back to the homepage</a></p>
<hr><br/><br/>
     {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page=1"> &laquo First</a>
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
            <a href="{{ request.path }}?page={{page_obj.paginator.num_pages}}">Last &raquo</a>
        {% endif %}
    {% endif %}
</html>